:root {
  --color-background: #fff;
  --color-text: #33332d;
}

body,
html {
  margin-inline: 10px;
  padding: 0;
  font-family:
    IBM Plex Mono,
    monospace;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.555rem;
  word-wrap: break-word;
}

h1 {
  line-height: 2.5rem;
}

button {
  color: var(--color-text);
  box-shadow: -3px 5px var(--color-text);
  padding: 0.6rem 1rem;
  border: 3px solid var(--color-text);
  font-weight: 600;
  margin-block: 1rem;
  margin-inline-end: 1rem;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  outline-width: 0;
  background-color: var(--color-text);
  color: var(--color-background);
}

button:active {
  transform: scale(0.9, 0.9);
}

.notification {
  background: rgb(239, 239, 239);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: rgb(9, 106, 0);
}

.error {
  color: rgb(158, 0, 0);
}

input {
  color: rgb(9, 106, 0);
  background: rgb(239, 239, 239);
  font-size: 20px;
  border: 1px solid rgb(9, 106, 0);
  border-radius: 5px;
  outline-offset: 0.1rem;
  outline: 1px solid rgb(9, 106, 0);
  padding: 10px;
  margin-bottom: 10px;
}
